﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Reporte.aspx.cs" Inherits="CuentaPorCobrar.Views.Reporte.Reporte" %>

<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <asp:ScriptManager ID="AntiguedadScript" runat="server">
        </asp:ScriptManager>
        <rsweb:ReportViewer ID="AntiguedadRpt" runat="server" Width="1298px">
        </rsweb:ReportViewer>
    </form>
</body>
</html>
