﻿@model IEnumerable<CuentaPorCobrar.ViewModels.BalanceViewModel>

<h2>Balances</h2>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <form class="form-inline" action="@Url.Action("Index", "Balance")" method="get">
            <div class="form-group">
                <input class="form-control" type="text" name="criterio" />
            </div>
            <input class="btn btn-default" type="submit" name="name" value="Buscar" />
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(c => c.ClienteId)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Corte)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.AntiguedadPromedioSaldos)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Monto)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Cliente.Nombre
                    </td>
                    <td>
                        @item.Corte.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @item.AntiguedadPromedioSaldos
                    </td>
                    <td>
                        @string.Format("{0:C}", item.Monto)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>