﻿@model IEnumerable<CuentaPorCobrar.DataAccess.Modelos.Cuenta>

@{
    ViewBag.Title = "Index";
}

<h2>Cuentas</h2>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <a class="btn btn-default pull-right" href="@Url.Action("Crear","Cuenta")">Agregar</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Descripci&oacute;n
                </th>
                <th style="text-align:right">Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td style="text-align:right">
                        @Html.ActionLink("Editar", "Editar", new { id = item.CuentaId }) |
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.CuentaId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>