﻿<div class="row">
    <br />
    <div class="col-md-11 col-lg-11">
        @{Html.BeginForm("Generar", "Reporte", FormMethod.Post, new { @class = "form-inline" });}

        <div class="form-group">
            <label for="antiguedadSaldo">Antiguedad de Saldo</label>
            <input id="antiguedadSaldo" class="form-control" type="number" name="antiguedadSaldo" value="" minlength="0" min="0" />
        </div>

        <div class="form-group">
            <br />
            <button class="btn btn-default">Generar</button>
        </div>

        @{Html.EndForm();}
    </div>
</div>
