﻿@model IEnumerable<CuentaPorCobrar.ViewModels.ClienteViewModel>

<h2>Clientes</h2>
@*<div class="row">
        <div class="col-lg-12 col-md-12">
            <p>
                <a class="btn btn-default pull-right" href="@Url.Action("Crear","Cliente")">Agregar</a>
            </p>
        </div>
    </div>*@
<div class="row">
    <div class="col-lg-6 col-md-6">
        <form class="form-inline" action="@Url.Action("Index","Cliente")" method="get">
            <div class="form-group">
                <input class="form-control" type="text" name="criterio" />
            </div>
            <input class="btn btn-default" type="submit" name="name" value="Buscar" />
        </form>
    </div>
    <div class="col-lg-6 col-md-6">
        <a class="btn btn-default pull-right" href="@Url.Action("Crear","Cliente")">Agregar</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @*C&eacute;dula*@
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @*L&iacute;mite de Cr&eacute;dito*@
                    @Html.DisplayNameFor(model => model.LimiteCredito)
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Cedula
                    </td>
                    <td>
                        @string.Format("{0:c}",item.LimiteCredito)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.ClienteId }) |
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.ClienteId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>