﻿@model CuentaPorCobrar.ViewModels.TipoDocumentoViewModel

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TipoDocumento</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TipoDocumentoId)

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuentaId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CuentaId, (IEnumerable<SelectListItem>)ViewBag.ListaCuentas, new { @class = "chzn-select" })
                @Html.ValidationMessageFor(model => model.CuentaId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Styles{
    <link href="@Url.Content("~/Content/bootstrap-chosen.css")" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/ChosenConfig.js")"></script>
}
