﻿@model IEnumerable<CuentaPorCobrar.ViewModels.TipoDocumentoViewModel>

<h2>Tipos de Documentos</h2>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <form class="form-inline" action="@Url.Action("Index","TipoDocumento")" method="get">
            <div class="form-group">
                <input class="form-control" type="text" name="criterio" />
            </div>
            <input class="btn btn-default" type="submit" name="name" value="Buscar" />
        </form>
    </div>
    <div class="col-lg-6 col-md-6">
        <a class="btn btn-default pull-right" href="@Url.Action("Crear", "TipoDocumento")">Agregar</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(c=>c.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Cuenta.Nombre)
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuenta.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.TipoDocumentoId }) |
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.TipoDocumentoId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>