﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityUserRole

<div class="row">
    <h2>Crear</h2>
</div>
@using (Html.BeginForm("AsignarRol", "Account", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
{
    <div class="row">
        <div class="form-group">
            @Html.DropDownListFor(c => c.UserId, (ICollection<SelectListItem>)ViewBag.Usuarios, new { type = "number", @class = "form-control chzn-select", placeholder = "Id del rol" })
        </div>


        <div class="form-group">
            @Html.DropDownListFor(c => c.RoleId, (ICollection<SelectListItem>)ViewBag.UsuarioRoles, new { @class = "form-control chzn-select", placeholder = "Descripcion del Rol" })
        </div>

        <div class="form-group">
            <button class="btn btn-default">Crear</button>
        </div>

    </div>
}

@section Styles{
    <link href="@Url.Content("~/Content/bootstrap-chosen.css")" rel="stylesheet" />
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/ChosenConfig.js")"></script>
}
