﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

<div class="row">
    <h2>Crear</h2>
</div>
@using (Html.BeginForm("Crear", "Account", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
{
    <div class="row">
        <div class="form-group">
            @Html.TextBoxFor(c => c.Id, new { type = "number", @class = "form-control", placeholder = "Id del rol" })
        </div>


        <div class="form-group">
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control", placeholder = "Descripcion del Rol" })
        </div>

        <div class="form-group">
            <button class="btn btn-default">Crear</button>
        </div>

    </div>
}
