﻿@using CuentaPorCobrar.Models;
@using Microsoft.AspNet.Identity;

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#datosUsuario" aria-controls="home" role="tab" data-toggle="tab">Datos del Usuario</a></li>
        @if (User.IsInRole("Administrador") || User.IsInRole("administrador"))
        {
            <li role="presentation"><a href="#roles" aria-controls="roles" role="tab" data-toggle="tab">Roles</a></li>
            <li role="presentation"><a href="#usuarioRoles" aria-controls="usuarioRoles" role="tab" data-toggle="tab">Usuario Roles</a></li>
            <li role="presentation"><a href="#usuarios" aria-controls="usuarios" role="tab" data-toggle="tab">Usuarios</a></li>
        }
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="datosUsuario">
            <h2>Administrar datos de usuario</h2>
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }

                    @*<section id="externalLogins">
                        @Html.Action("RemoveAccountList")
                        @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                    </section>*@
                </div>
            </div>
        </div>

        @if (User.IsInRole("Administrador") || User.IsInRole("administrador"))
        {
            <div role="tabpanel" class="tab-pane fade" id="roles">
                <h2>Roles</h2>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Crear","Account")">Agregar</a>
                </p>
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rol in ViewBag.Roles)
                                {
                                <tr>
                                    <td>@rol.Id</td>
                                    <td>@rol.Name</td>
                                    <td>
                                        @Html.ActionLink("Editar", "Editar", new { id = rol.Id }) |
                                        @Html.ActionLink("Eliminar", "Eliminar", new { id = rol.Id })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="usuarioRoles">
                <h2>Roles</h2>
                <p>
                    <a class="btn btn-default" href="@Url.Action("AsignarRol", "Account")">Agregar</a>
                </p>
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id de Role</th>
                                    <th>Nombre de Rol</th>
                                    <th>Id de Usuario</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rol in ViewBag.UserRoles)
                                {
                                <tr>
                                    <td>@rol.UserId</td>
                                    <td>@rol.User.UserName</td>
                                    <td>@rol.RoleId</td>
                                    <td>@rol.Role.Name</td>
                                    <td>
                                        @Html.ActionLink("Eliminar", "EliminarUserRol", new { UserId = rol.UserId, RoleId = rol.RoleId })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane fade" id="usuarios">
                <h2>Usuarios</h2>

                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var usrs in ViewBag.Usuarios)
                            {
                            <tr>
                                <td>@usrs.Id</td>
                                <td>@usrs.UserName</td>
                                <td>
                                    @Html.ActionLink("Eliminar", "Eliminar", new { id = usrs.Id })
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
