﻿@using CuentaPorCobrar.DataAccess.Modelos
@model CuentaPorCobrar.ViewModels.TransaccionViewModel
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transaccion</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDocumentoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(c => c.TipoDocumentoId, (IEnumerable<SelectListItem>)ViewBag.TiposDocumento, new { @class = "form-control chzn-select" })
                @Html.ValidationMessageFor(model => model.TipoDocumentoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClienteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(c => c.ClienteId, (IEnumerable<SelectListItem>)ViewBag.Clientes, new { @class = "form-control chzn-select" })
                @Html.ValidationMessageFor(model => model.ClienteId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div>
                    @Html.LabelFor(model => model.TipoMovimiento, new { @class = "control-label col-md-2" })
                </div>
                <label>
                    Cr&eacute;dito
                    @Html.RadioButtonFor(model => model.TipoMovimiento, TipoMovimiento.Credito)
                </label>

                <label>
                    D&eacute;bito
                    @Html.RadioButtonFor(model => model.TipoMovimiento, TipoMovimiento.Debito)
                </label>

                @Html.ValidationMessageFor(model => model.TipoMovimiento)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.NumeroDocumento, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.NumeroDocumento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NumeroDocumento)
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Monto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>


@section Styles{

    <link href="@Url.Content("~/Content/bootstrap-chosen.css")" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/ChosenConfig.js")"></script>
}
