﻿@model IEnumerable<CuentaPorCobrar.ViewModels.TransaccionViewModel>

<h2>Transacciones</h2>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <form class="form-inline" action="@Url.Action("Index", "Transaccion")" method="get">
            <div class="form-group">
                <input class="form-control" type="text" name="criterio" />
            </div>
            <input class="btn btn-default" type="submit" name="name" value="Buscar" />
        </form>
    </div>
    <div class="col-lg-6 col-md-6">
        <a class="btn btn-default pull-right" href="@Url.Action("Crear", "Transaccion")">Agregar</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(c => c.Cliente.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.TipoDocumento.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.TipoMovimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.NumeroDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Monto)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDocumento.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoMovimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroDocumento)
                    </td>
                    <td>
                        @item.Fecha.ToString()
                    </td>
                    <td>
                        @string.Format("{0:C}", item.Monto)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>