﻿@using System.Web.Configuration

@{
    var nombreAplicacion = WebConfigurationManager.AppSettings["NombreAplicacion"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.NombreAplicacion</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/jquery-ui")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(nombreAplicacion, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">Administrar <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Cliente")">Clientes</a></li>
                            <li><a href="@Url.Action("Index","Balance")">Balances</a></li>
                            <li><a href="@Url.Action("Index","TipoDocumento")">Tipos de Documento</a></li>
                            <li><a href="@Url.Action("Index","Transaccion")">Transacciones</a></li>
                            <li><a href="@Url.Action("Index","Cuenta")">Cuentas</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Generar","Reporte")">Generar Reporte</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Today.Year - @nombreAplicacion</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
